#logo {
  height: 50px;
}

nav li img {
  margin: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}

nav li {
  display: inline
}

nav ul {
  display: inline;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container .flex-item {
  flex: auto;
}

#search-box {
  height: 40px;
}